!/Overgrown-A-Step-Forward/kubejs/
!/Overgrown-A-Step-Forward/config/
!/Overgrown-A-Step-Forward/notes-and-templates/
!/Overgrown-A-Step-Forward/.vscode/
!/Overgrown-A-Step-Forward/servers.dat

# Ignore  directory
crash-reports/
downloads/
journeymap/
local/
logs/
mods/
patchouli_books/
saves/
shaderpacks/
structurize/
resourcepacks/
schematics/
fancymenu_data
/

.gitignore
.curseclient
*.txt
servers.dat
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json