.gitignore

# Ignore  directory
config/
crash-reports/
downloads/
journeymap/
local/
logs/
mods/
patchouli_books/
saves/
shaderpacks/
structurize/
resourcepacks/
schematics/
etched-sounds/
fancymenu_data/
/


.curseclient
*.txt
servers.dat
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
